* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: burlywood;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: auto;
  padding: 15px;
  position: relative;
  display: grid;
  gap: 16px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
}

.todo-item-container {
  display: flex;
  justify-content: space-around;
}

.todo-item-container p {
  width: 280px;
  overflow: auto;
}

.clear-it {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: rgb(137, 247, 104);
  height: 50px;
}

.clearer {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h2 {
  font-size: 16px;
}

.heading span {
  cursor: pointer;
}

#todo-form {
  display: flex;
  gap: 8px;
}

#todo-form input {
  width: 330px;
  border: none;
  font-style: italic;
  outline: none;
  padding: 8px;
}

hr {
  border: 0.5px solid #ccc;
  margin: 0 0 10px 0;
  height: 1px;
}

#todo-form button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
